#urllib3<2
urllib3
aioftp
aiohttp
aiosignal
astropy
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
drms
frozenlist
idna
isodate
lxml
multidict
numpy
packaging
pandas
parfive
platformdirs
pyerfa
python-dateutil
pytz
PyYAML
requests
requests-file
requests-toolbelt
six
soupsieve
sunpy
tqdm
tzdata
yarl
zeep
