name: Documentation
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install FORD
        run: |
          python -m pip install --upgrade pip
          pip install ford
          [ -f requirements.txt ] && pip install -r requirements.txt

      - name: Build FORD Documentation
        run: ford ./README.md
      - name: Deploy Documentation
        uses: JamesIves/github-pages-deploy-action@v4.7.6
        with:
          branch: gh-pages
          folder: doc
